# Segmenting and Clustering Neighborhoods in Toronto

#Read table from wiki

In [25]:
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

table = pd.read_html(url, header=0,keep_default_na=False) 

tdf = table[0]

tdf.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#set column

In [26]:
tdf.columns = ['PostalCode','Borough','Neighborhood']
tdf.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

#Set Neighborhood=Borough if Neighborhood==Not assigned

In [27]:
tdf.loc[tdf['Neighborhood'] == 'Not assigned', 'Neighborhood' ] = tdf['Borough']
tdf.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Queen's Park
9        M8A      Not assigned      Not assigned

#remove the rows when Borough,Neighborhood are Not assigned

In [28]:
tdf = tdf.query('Borough != "Not assigned"').reset_index(drop=True)
tdf.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [29]:
tdf=tdf.groupby('PostalCode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
tdf.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Rouge Hill, Highland Creek, Port Union
2        M1E  Scarborough       West Hill, Guildwood, Morningside
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [30]:
tdf.shape

(103, 3)